$PrimaryColour: #FFF579;
$SecondaryColour: white;

@import 'partials/setup';
@import 'partials/logInOut';
@import 'partials/giftLists';
@import 'partials/footer';


// font-family: 'Bangers', cursive;

body {
	margin: 0;
	font-family: 'Bangers', cursive;
}

main {
	margin: 0;
	background-image: url(../../images/xmas-sac-cropped.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.wrapper {
	width: 1170px;
	height: 100vh;
	// background-color: red;
}

.projectImages {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

//Portrait tablet and small desktops 
@media (max-width: 940px) {



}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	
		main {
		background-image: url(../../images/xmas-tree.jpg);		
	}

}
	

/* Landscape phones and down */
@media (max-width: 480px) {

	main {
		// background-image: url(../../images/xmas-sac-cropped.jpg);		
	}
}
