$PrimaryColour: #FFF579;
$SecondaryColour: white;

@import 'partials/setup';
@import 'partials/logInOut';
@import 'partials/giftLists';
@import 'partials/footer';


// font-family: 'Luckiest Guy', cursive;
// font-family: 'Bangers', cursive;
// font-family: 'Alex Brush', cursive;
// font-family: 'Ultra', serif;
// font-family: 'Ceviche One', cursive;
// font-family: 'Yesteryear', cursive;

body {
	margin: 0;
	font-family: 'Bangers', cursive;
}

main {
	margin: 0;
	background-image: url(../../images/xmas-sac-cropped.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.wrapper {
	width: 1170px;
	min-height: 100vh;
}


//Portrait tablet and small desktops 
@media (max-width: 940px) {
	.wrapper, .logInTitle2 {
		background-color: lightgreen;
	}

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	.wrapper, .logInTitle2 {
		background-color: lightpink;
	}
}
	

/* Landscape phones and down */
@media (max-width: 480px) {
	.wrapper, .logInTitle2 {
		background-color: lightblue;
	}
}
