

.titleContainer {
	position: relative;
	background-color: white;
}

.loginContainer {
	background-color: pink;
	border: 2px solid yellow;
	display: flex;
	justify-content: flex-end;
}

.logInTitle1 {
	margin-top: 0;
	color: goldenrod;
	font-family: 'Yesteryear', cursive;
	font-size: 120px;
	position: absolute;
	top: -378px;
  left: -316px;
  z-index: 5;
}

.logInTitle2 {
	font-family: 'Bangers', cursive;
	font-size: 80px;
	color: #50BA4B;
	position: absolute;
	top: -166px;
  left: -145px;
    h2 {
    	margin: 5px;
    }
}

.logInPage {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.logBubble {
	display: inline-block;
	
}

.logInButton {
	background-color: white;
}

.logOutContainer {
	margin: 0 2%;
	display: flex;
	flex-direction: row;
	align-items: center;
	// justify-content: center;
	justify-content: space-between;
}
 .logOutTitle, .navSplit {
 	width: 50%;
}

h1 {
	font-family: 'Bangers', cursive;
	color: white;
  margin: 0;
  font-size: 70px;
  letter-spacing: 9px;
  text-shadow: 1px 3px 1px black;
}

 .bubbleBox {
 	position: relative;
	width: 25%;
  float: right;
  margin-top:3%
 }

.logOutButton {
	position: absolute;
  top: 4px;
  left: 6px;
  padding: 20% 11%;
	background-color: transparent;
	border: none;
	font-family: 'Bangers', cursive;
	font-size: 20px;
}