

.titleContainer {
	position: relative;
	background-color: $SecondaryColour;
}

.loginContainer {
	display: flex;
	justify-content: flex-end;
}

.logInTitle1 {
	width: 100%;
	margin-top: 0;
	color: $PrimaryColour;
	position: absolute;
	top: -385px;
  left: -390px;
  z-index: 0;
}

.logInButton {
	position: absolute;
  top: 4px;
  right: 6px;
  padding: 2%;
	background: transparent;
	border: none;
	font-size: 20px;
}

.logInTitle2 {
	font-size: 80px;
	color: $PrimaryColour;
	text-shadow: 1px 3px 1px black;
	letter-spacing: 9px;
	position: absolute;
	top: -196px;
  left: -145px;
    h2 {
    	margin: 5px;
    }
}

.logInPage {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.logBubble {
	display: inline-block;	
}

.logOutContainer {
	margin: 0 2%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
 .logOutTitle, .navSplit {
 	width: 50%;
}

h1 {
	color: $SecondaryColour;
  margin: 0;
  font-size: 70px;
  letter-spacing: 9px;
  text-shadow: 1px 3px 1px black;
}

 .bubbleBox {
 	position: relative;
	width: 25%;
  float: right;
  margin-top:3%
 }

.logOutButton {
	position: absolute;
  top: 4px;
  left: 6px;
  padding: 20% 11%;
	background-color: transparent;
	border: none;
	font-size: 20px;
}