

.titleContainer {
	position: relative;
}

.loginContainer {
	display: flex;
	justify-content: flex-end;
}

.logInTitle1 {
	width: 100%;
	margin-top: 0;
	color: $PrimaryColour;
	position: absolute;
	top: -385px;
  left: -390px;
  z-index: 0;
  
}

.logInButton {
	position: absolute;
  top: 7px;
  right: 28px;
  padding: 2%;
	background: transparent;
	border: none;
	font-size: 20px;
}

.logInTitle2 {
	font-size: 80px;
	color: $PrimaryColour;
	text-shadow: 1px 3px 1px black;
	letter-spacing: 9px;
	position: absolute;
	top: -196px;
  left: -145px;
    h2 {
    	margin: 5px;
    }
}

.logInPage {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.logOutContainer {
	margin: 0 2%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
 .logOutTitle {
	width: 70%;
 }

 .logButtonHolder {
 	width: 30%;
 	// img {
 	// 	width: 100%;
 	// }
}

.logBubble {
	display: inline-block;	
	margin-right: 2%;
}

h1 {
	color: $SecondaryColour;
  margin: 0;
  font-size: 70px;
  letter-spacing: 9px;
  text-shadow: 1px 3px 1px black;
}

 .bubbleBox {
 	position: relative;
	width: 25%;
  float: right;
  margin-top:3%
 }

.logOutButton {
	position: absolute;
  top: 6px;
  right: 5px;
  padding: 20%;
	background-color: transparent;
	border: none;
	font-size: 20px;
}

//Portrait tablet and small desktops 
@media (max-width: 940px) {

	.logInButton {
    top: 17px;
  }

	h1 {
		font-size: 50px;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	h1 {
    font-size: 40px;
    letter-spacing: 5px;
	}

	.logInButton {
    top: 20px;
  }
}
	

/* Landscape phones and down */
@media (max-width: 480px) {
	h1 {
	    font-size: 35px;
		}

	ul {
		padding: 0;
	}

	.logInButton {
    top: 25px;
  }
}
