

.titleContainer {
	position: relative;
	background-color: white;
}

.loginContainer {
	background-color: pink;
	border: 2px solid yellow;
	display: flex;
	justify-content: flex-end;
}

.logInTitle1 {
	margin-top: 0;
	color: goldenrod;
	font-family: 'Yesteryear', cursive;
	font-size: 120px;
	position: absolute;
	top: -378px;
  left: -316px;
  z-index: 5;
}

.logInTitle2 {
	font-family: 'Bangers', cursive;
	font-size: 80px;
	color: #50BA4B;
	position: absolute;
	top: -166px;
  left: -145px;
    h2 {
    	margin: 5px;
    }
}

.logInPage {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.logBubble {
	display: inline-block;
	
}

.logInButton {
	background-color: white;
}

.logOutContainer {
	position: relative;
	float: right;
	margin: 2%;
}

.logOutButton {
	position: absolute;
	// top: 22px;
 //  left: 10px;
  padding: 13%;
	background-color: transparent;
	border: none;

}